HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
target/m2e-wtp/web-resources/META-INF/maven/com.eduk/eduk/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.eduk/eduk/pom.xml
src/main/webapp/META-INF/maven/com.eduk/eduk/pom.properties
src/main/webapp/META-INF/maven/com.eduk/eduk/pom.properties
